.ShiteCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ShiteCount-btn {
  background-color: #00000000;
}
.ShiteCount-btn:hover {
  background-color: var(--color-btn-off);
}

.ShiteCount-trigger {
  background-color: var(--color-btn-on);
}
.ShiteCount-trigger:hover {
  background-color: var(--color-btn-off);
}
