.ShiteCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ShiteCount-btn {
  background-color: #00000000;
}
.ShiteCount-btn:hover {
  background-color: #3a3b3c;
}

.ShiteCount-trigger {
  background-color: #4e4f50;
}
.ShiteCount-trigger:hover {
  background-color: #3a3b3c;
}
