.ParseContent-line {
  display: flex;
  flex-wrap: wrap;
}

.ParseContent-word {
  max-width: "100%";
  word-wrap: break-word;
}

.ParseContent-url a,
a:active {
  color: var(--color-url);
  text-decoration: underline;
}
