:root {
  color-scheme: dark;

  --color-bg: #181a1b;
  --color-text: #e7e9ec;
  --color-link: #e7e9ec;
  --color-input: #3a3b3c;
  --color-url: lightblue;

  --color-nav-bg: #242526;
  --color-nav-border: #393a3b;

  --color-userpage-confirm-upload-bg: hsla(0, 0%, 0%, 0.6);

  --color-post-bg: #242526;
  --color-post-strike: #393a3b;

  --color-view-prev: #b0b3b8;
  --color-comment-name: lightgrey;
  --color-comment-date: gray;
  --color-comment-new: hsla(38, 100%, 54%, 0.3);
  --color-comment-new-fade: hsla(38, 100%, 54%, 0.1);

  --color-btn-off: #3a3b3c;
  --color-btn-on: #4e4f50;
  --color-btn-shadow: #00000033;
}
