.Comment {
  display: flex;
  flex-direction: row;

  margin: 10px;
}

.Comment-text {
  box-sizing: border-box;
  max-width: 90%;
  padding-left: 10px;
  padding-bottom: 2px;
}

.Comment-view-prev {
  cursor: pointer;
  color: #b0b3b8;
}

.Comment-view-prev:hover {
  text-decoration: underline;
}
