.Comment {
  display: flex;
  flex-direction: row;

  margin: 10px;
}

.Comment-text {
  box-sizing: border-box;
  max-width: 90%;
  padding-left: 10px;
  padding-bottom: 2px;
}

.Comment-view-prev {
  cursor: pointer;
  color: var(--color-view-prev);
}

.Comment-view-prev:hover {
  text-decoration: underline;
}

.Comment-name {
  color: var(--color-comment-name);
}

.Comment-time {
  color: var(--color-comment-date);
}
